@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans serif";

}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 20px;
    align-items: center;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

.navbar-left a{
    text-decoration: none;
} 
 .title{
    font-size: 42px;
    font-family: "Indie Flower";
    color: black;
}

.navbar-right{
    display: flex;
    flex-direction: row; 
    gap: 5px;
}

.navbar-right i{   
    font-size: 32px;
   
}

/*BANNER*/
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    background-color: #c1dcdc;
    width: 90%;
    margin: auto;
    padding: 20px 50px ;
    border-radius: 20px;
    align-items: center;
   
    
    
}

.banner-left{
   
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner-right {
  
    width: 50%;
}

.banner-left-title{
    font-size: 48px;
}

.banner-left-contents{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.banner-left-content{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.banner-left-content span:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    font-size: 24px;

}

hr{
    background-color: black;
    width: 3px;
    border: none;
}

.banner-left-search {
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
}
.banner-left-search input{
    padding: 5px;
    border: none;
    outline: none;
}
.banner-left-search button{
    padding: 2px 10px;
    background-color: #c1dcdc;
    border: none;
    border-radius: 10px;
}


/*PRODUCT*/
.product{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 90%;
   
    border: none;
    padding: 5px;
    margin-top: 50px;
    margin: auto;
    gap: 50px;

}

.product-left{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 30px;

}
.product-left span{
    font-size: 18px;
}
.product-left h1{
    font-size: 32px;
}

.product-left button{
    background-color: #c1dcdc;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    border-radius: 10px;
    gap: 5px;
}

.product-left button:hover{
    cursor: pointer;
    background-color: rgb(0, 255, 225);
    transform: translate(all 0.4s); 
}

.product-right{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.product-right-card img{
    width: 100%;
}
/*ABOUT*/

.about{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(223, 223, 223);
}
.about-title{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.about-title h1{
    font-size: 32;
}

.about-title p{
    color: gray;
}

.about-cards{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.about-card i{
    font-size: 42px;
    background-color: #c1dcdc;
    padding: 10px;
    border-radius: 100%;
}

.about-card p:nth-child(2){
font-weight: 500;
font-size: 22px;
}

/*CATEGORİES*/
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
.categories-title{
    text-align: center;
}

.categories-banners{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    gap: 15px;
}

.categories-banner img{
    width: 100%;
}
 
.categories-banner h1{
    font-size: 24px;
}

.categories-banner-title{
  
    width: 280px;
    text-align: center;
}

.but{
    background-color: #c1dcdc;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    border-radius: 10px;
    gap: 5px;
    font-size: 18px;
    border: 2px solid green;
    align-items: center;
    margin-top: 10px
}

.but:hover{
    cursor: pointer;
    background-color: rgb(0, 255, 225);
    transform: translate(all 0.4s);
}
    
    
/*FOOTER*/

.footer{
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #c1dcdc;
    margin: auto;
    margin-top: 50px;
}

.footer-left h1{
    font-family: "Indie Flower";
}

.footer-left div a i {
    font-size: 32px;
    color: gray;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 100%;
}

.footer-left div a i:hover{
    color: black;
    transform: scale(1.1);
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 80px;
    margin-top: 20px;
}

.footer-right{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer-right ul li {
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 7px;
}

.footer-right ul li:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
}
